// ----- Media objects
.mo-comment{
    @include breakpoint(tablet){

    }
    @include breakpoint(desktop){
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 1.5rem;
        margin-top:2rem;
    }
    &__img{
        width: 3rem;

        & img{
            //max-width: none;
            width: 100%;
        }
    }

    &__text{
        width:calc(100% - 3rem);
        margin-left:2rem;
        margin-top: 0.9rem;
        @include breakpoint(tablet){

        }
        @include breakpoint(desktop){
            width:calc(100% - 3rem);
            margin-left:2rem;
            margin-top: 0.9rem;
        }
    }
}
