// ----- Media objects
.mo-post{
    @include breakpoint(tablet){

    }
    @include breakpoint(desktop){
        width: 24%;
        margin-bottom: 2rem;
    }
    &__inner{

    }

    &__avatar{
        &__profile-picture{}
        &__name{}
    }

    &__media{
        & img{
            max-width: none;
            width: 100%;
        }

        & video{
            max-width: none;
            width: 100%;
        }
    }

    &__stats{
        padding:1.5rem 0;
        @include breakpoint(tablet){
            padding:1.5rem 0;

        }
        @include breakpoint(desktop){
            display: flex;
            flex-flow: row nowrap;
            padding:1.5rem 0;
            border-bottom:1px solid silver;
        }

    }

    &__comments{
        @include breakpoint(tablet){

        }
        @include breakpoint(desktop){
            margin-top:2rem;
        }

        &__comment{
            @include breakpoint(tablet){

            }
            @include breakpoint(desktop){
                display: flex;
                flex-flow: row nowrap;
                margin-bottom: 1.5rem;
            }
            &__img{
                width: 3rem;

                & img{
                    //max-width: none;
                    width: 100%;
                }
            }

            &__text{
                width:calc(100% - 3rem);
                margin-left:2rem;
            }
        }
    }

    &__comments__cta{

    }
}
