// ----- Media objects
.mo-post{
    //position:relative;

    @include breakpoint(tablet){

    }
    @include breakpoint(desktop){
        width: 24%;
        margin-bottom: 2rem;
    }
    &__inner{

    }

    &__avatar{
        @include breakpoint(tablet){

        }
        @include breakpoint(desktop){
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }

        &__profile-picture{
            width: 5rem;

            & img{
                max-width: none;
                width: 100%;
            }
        }

        &__name{
            width:calc(100% - 5rem);
            margin-left:2rem;
        }
    }

    &__media{
        margin-top:2rem;
        & img{
            max-width: none;
            width: 100%;
        }

        & video{
            max-width: none;
            width: 100%;
        }
    }

    &__stats{
        padding:1.5rem 0;
        @include breakpoint(tablet){
            padding:1.5rem 0;

        }
        @include breakpoint(desktop){
            display: flex;
            flex-flow: row nowrap;
            padding:1.5rem 0;
            border-bottom:1px solid silver;
            align-items: flex-start;
        }



        &__icon{
            stroke-width: 2.5;
            margin-right: 2rem;
            &--last{
                margin-right: 0;
                margin-left: auto;
            }
        }

        &__like{
            fill: rgba(0,0,0,0);
            stroke:lightgreen;
            width:25px;
            height:100%;
        }
        &__comment{
            fill: black;
            width:25px;
            height:100%;
        }
        &__liked{
            fill:lightgreen;
            width:25px;
            height:100%;

        }

    }

    &__slider-controls{
        display: none;
        color:white;
        font-weight: bold;
    }

    &__comments__load-more{
        position: absolute;
        top:0;
    }
}
