button{
    background: gray;
    padding: 5px 10px;
    cursor: pointer;
}
.c-test {
    @include font-size(45px,30px,35px);
    color: #ffffff;
}

.c-btn {
    background: #09F3A2;
    color:white;
    text-align: center;
    @include font-size(22px,20px,20px);

    &--login{
        width: 100%;
        margin-top: 25vh;
    }

    &--signup{

    }

    &--round{
        border-radius: 10px;
    }

    &--wide{

    }

    &--update-profile{
        margin-top:4rem;
    }

    &--change-photo{
        margin-top:4rem;
    }

    &--change-photo{

    }
}
