.b-comments-details{
    position: fixed;
    top:5%;
    padding: 4rem 2rem;
    width:100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    @include breakpoint(tablet){

    }

    @include breakpoint(desktop){

    }

    &__inner{
        width:60rem;
        height: 60rem;
        position: relative;
        margin:0 auto;
        background: white;
        padding: 2rem 4rem;
        color:gray;
        overflow: auto;
        @include breakpoint(desktop){
            width:60rem;
            height: 30rem;
        }
    }

    & .mo-comment__edit {
        display: block;
    }

    & .mo-comment__delete{
        display: block;
    }

    &__add-new{
        position: fixed;
        width: 60rem;
        //height: 6rem;
        margin-left: -4rem;
        margin-top: 58rem;
        background: orange;
        border-top: 1px solid gray;

        @include breakpoint(desktop){
            margin-top: 28rem;
            width: 60rem;
        }

        &__form{

        }

        &__form__field{
            position: relative;
            width: 100%;

            & input{
                width: 100%;
                height: 6rem;
                padding-left:3rem;
            }

            & button {
                position: absolute;
                right: 2rem;
                top: 1.8rem;
            }
        }
    }
}
