//-------------------------
//-------------------HEADER
//-------------------------
$header-link-icon-desktop:4rem;

.b-header{
    padding: 0 2rem;
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items:center;
    border-bottom: 1px solid black;
    background: white;
    width: 100vw;
    height: 7rem;

    &.fixedBody {
      @include breakpoint(desktop) {
        //overflow: hidden;
        //padding-right: 15px;

      }
    }

    &__icon{
        display: inline-block;
        width:$header-link-icon-desktop;
        height: $header-link-icon-desktop;
        line-height: $header-link-icon-desktop;
        text-align: center;
        border-radius: 50%;
        background: black;
        overflow: hidden;
    }

    &__navigation{


        &-link{

        }
    }

    &__logo{
        &__white{
            margin:0 auto;
            text-align: center;
            color:black;
            font-size:4.6rem;
            font-weight:300;
            span{
                font-weight:600;
            }
        }
    }

    &__utilities{
        display: flex;
        flex-flow: row nowrap;
        padding-right:1.5rem;

        &-search{

        }

        &-lang{
            display: inline-block;
            width:$header-link-icon-desktop;
            height: $header-link-icon-desktop;
            line-height: $header-link-icon-desktop;
            text-align: center;
        }
    }
}
