.b-login{
    & .photogram-logo{
        margin:0 auto;
        padding-top: 5vh;
        text-align: center;
        color:white;
        font-size:4.6rem;
        font-weight:300;
        span{
            font-weight:600;
        }
    }
    &__background{
        background: url(../assets/img/cover-mob.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        width:100vw;
        height: 100vh;
        position: absolute;
        z-index: -1;

        @include breakpoint(tablet){
            background: url(../assets/img/cover-tab.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }

        @include breakpoint(desktop){
            background: url(../assets/img/cover-desk.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &__form{
        margin:0 auto;
        margin-top: 15vh;
        width: 75%;
        min-width:32rem;
        @include breakpoint(tablet){
            width: 25%;
        }
        @include breakpoint(desktop){
            width: 25%;
        }

        &__signup{
            color:white;
            margin-top: 3vh;
            text-align: center;
            span{
                color:#09F3A2;
                font-weight:600;
                cursor:pointer;
            }
        }

        &__forgotPassword{
            font-size: 1.4rem;
            position: relative;
            top: 2rem;
            color: white;
            cursor: pointer;
        }
    }

    &__form__field{
        position: relative;
        margin-top: 5rem;

        &__icon{
            position: absolute;
            left:5px;
            top:-10px;
            width:18px;
            @include breakpoint(tablet){
                width:25px;
            }
            @include breakpoint(desktop){
                width:25px;
            }

            &__avatar{

                fill:white;
            }

            &__lock{
                fill:white;
            }

        }

        & input{
            @include font-size(24px,16px,16px);
            padding-left:8rem;
            padding-bottom:0.4rem;
            color:#707070;
            width: 100%;
            background-color: transparent;
            outline:none;
            border:none;
            border-bottom:1px solid white;
            @include breakpoint(tablet){
                padding-left:5rem;
            }
            @include breakpoint(desktop){
                padding-left:5rem;
            }
        }
    }
}
