.b-posts-list{
    padding-top: 8rem;
    &__inner{
        @include breakpoint(tablet){

        }

        @include breakpoint(desktop){
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }
    }

}
