.b-posts-list{
    padding-top: 8rem;
    padding-bottom: 4rem;

    &__inner{
        @include breakpoint(tablet){

        }

        @include breakpoint(desktop){
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        &--block{
            display:block;
            & .mo-post{
                margin:0 auto;
                margin-bottom:5rem;
                width:28%;
            }
        }
    }

    &__display-options{
        text-align: center;
        position: relative;
        top: 5rem;

        &--grid{
            width:3rem;
        }
    }

}
