.loader {
    z-index: 100;
    text-indent: 100000px;
    position: fixed;
    border: 8px solid #09F3A2;
    border-top: 8px solid #33daa0;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    top:33rem;
    left: 49.5%;
    transform:translateX(-50%);
    animation: spin 1.2s linear infinite;
    &--home-posts{
        border: 16px solid #09F3A2;
        border-top: 16px solid #33daa0;
        width: 12rem;
        height: 12rem;
        left: 48%;
        top: 50%;
        transform: translate(-48%, -50%);
    }
 }
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
